{{ define "main" }}
<main>
   <article>
        <header>
            <h1>{{ .Title }}</h1>
            {{ with .Date }} {{ $ISO_time := dateFormat
            "2006-01-02T15:04:05-07:00" . }}      
            <time datetime="{{ $ISO_time }}" itemprop="datePublished">
                {{ . | time.Format ":date_medium" }}
            </time>
            {{ end }}
        </header>
        {{- if .Site.Params.toc -}} {{ if not (eq .Params.toc false) }}
        <details>
            <summary><b>{{ T "single.table_of_contents" }}</b></summary>
            {{ .TableOfContents }}
        </details>
        {{ end }} {{- end -}}
        <div>{{ .Content }}</div>
    </article>
</main>
{{ end }}
