<!DOCTYPE html>
{{- partial "head.html" . -}}

<html lang="{{ .Site.LanguageCode }}">
    <body >
        {{- partial "header.html" . -}}
            <main>
                {{ partial "bio" . }}
                <section>
                <h2>{{ T "home.recent_posts" }}</h2>
                {{/* Show last 5 posts in reverse date order */}}
                {{ $pagesToShow := where .Site.RegularPages "Type" "in" site.Params.mainSections }}
                {{ $posts := $pagesToShow.ByDate.Reverse }}
                {{ range first 5 $posts }}
                {{ partial "postCard" . }}
                {{ end }}
                {{ if gt (len $posts) 5 }}
                <p>
                    {{ range $firstSection := (where .Site.Sections "Section" "in" (first 1 (.Site.Params.mainSections))) }}
                    <a href="{{ $firstSection.Permalink }}">{{ T "home.see_all_posts" }}</a>
                    {{ end }}
                </p>
                {{ end }}
            </section>
            </main>
        </div>
        {{- partial "footer.html" . -}}
    </body>
</html>
